@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(//fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);
@page {
	size: A2;
	margin: 0;
}

@media print {
	html,
	body {
		width: 510mm;
		height: 305mm;
		margin: 0;
		padding: 0;

		.monkeyface {
			display: none;
		}
	}
}

$primary: #c71585ff; // $medium-violet-red
$secondary: #aa998fff; // $grullo
$success: #2b4162ff; // $indigo-dye
$warning: #ee7b30ff; // $pumpkin
$danger: #a3320bff; // $chinese-red
$info: #385f71ff; // $deep-space-sparkle
$light: #f9eae1ff; // $linen
$light-complement: #e1edf9ff;
$dark: #3a3238ff; // $black-coffee
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$notes-lines: $gray-300;

$font-family-sans-serif: "Open Sans";
$condensed: "Open Sans Condensed";

$font-family-base: $font-family-sans-serif;
$grid-columns: 7 !default;

/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.heb {
	font-family: "Open Sans Hebrew";
}
.heb-c {
	font-family: "Open Sans Hebrew Condensed";
}

main {
	@include make-container();
	justify-content: center;
	width: 510mm;
	margin: 0;
	padding: 0;
}

section {
	height: 305mm;
	display: flex;
	padding: 0.5cm;
	gap: 0.5cm;
	position: relative;
	page-break-after: always;
	box-shadow: inset 0 0 0 1px #0007;
}

.monthBox {
	background: $white;
	width: 87.5%;
	display: flex;
	flex-direction: column;
	padding: 0 0.75rem;
	box-shadow: inset 0 0 0 1px #0007;

	.calendarBox {
		@include make-col-ready();
		@include make-col(1);
		border: solid 1px black;
		border-width: 1px 1px 0 0;
		// height: 1.5in;
		font-size: 0.625rem;
		padding: 0.375rem 0.5rem 0.5rem;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		// add gutter for spine
		&:nth-of-type(7n + 4) {
			border-right: solid 4px $white;
			box-shadow: inset -1px 0 0 0px $gray-500;
		}
		&:nth-of-type(7n + 5) {
			border-left: solid 4px $white;
			box-shadow: inset 1px 0 0 0px $gray-500;
		}

		// Add left and bottom border to edge cells
		&:nth-of-type(7n + 1) {
			border-left-width: 1px;
		}
		&:nth-of-type(n + 29) {
			border-bottom-width: 1px;
		}

		*[data-infotype="englishDate"] {
			margin-bottom: auto;
			font-size: 1.5rem;
			font-weight: 700;
			line-height: 1;
			font-family: $condensed;
			order: 1;
		}
		*[data-infotype="Hebrew Date"] {
			position: absolute;
			right: 0;
			top: 0;
			padding: 0.25rem 0.5rem;
			font-size: 1.625rem;
			font-weight: 300;
			color: $gray-600;
			line-height: 1;
			@extend .heb;
		}
		*[data-infovalue*="Omer"] {
			color: purple;
			// &::before {
			// 	display: inline;
			// 	content: "Omer: ";
			// }
		}
		*[data-infotype="Torah Reading"] {
			color: purple;
			font-weight: 600;
			// &::before {
			// 	display: inline;
			// 	content: "Torah: ";
			// }
		}

		*[data-infotype*="Birthday"],
		*[data-infotype*="Anniversary"] {
			order: 999;
		}

		*[data-infovalue*="Chanukah"] {
			color: orange;
		}

		*[data-infovalue*="Mevarchim"] {
			display: none;
		}
		&[data-inmonth="false"] * {
			visibility: hidden;
			color: $gray-300;
			&[data-infotype="englishDate"],
			&[data-infotype="Hebrew Date"] {
				visibility: visible;
			}
		}
		&[data-fulldate*="Oct 24"] {
			justify-content: flex-start;
			*[data-infotype="englishDate"] {
				margin-bottom: unset;
			}
			.notes {
				display: none;
			}
			> div .birthday {
				position: relative;
				top: 1rem;
			}
		}
		// The half-height days in the 6th row
		&:nth-of-type(n + 36) {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 9.5%;
			margin: 0;
			&[data-inmonth="false"] {
				display: none;
			}
			& + .calendarBox {
				margin-left: 14.29%;
			}
		}

		> div {
			text-align: left;
			order: 10;
			.birthday,
			.anniversary {
				border-radius: 0;
				overflow: hidden;
				margin: 0.25rem -0.25rem -0.25rem;
				background: $light;
				display: flex;
				gap: 0.5rem;
				align-items: center;
				line-height: 1;
				border-bottom: solid 1px white;
				& img {
					height: 2rem;
					width: 2rem;
				}
				& span {
					flex-grow: 1;
					font-weight: 600;
					color: $dark;
					padding-left: 0.5rem;
				}
				& small {
					display: block;
				}
				&.anniversary {
					background: $light-complement;
					img {
						width: 3.6rem;
					}
				}
			}
			&.notes {
				background: repeating-linear-gradient(white, white 25px, $notes-lines 26px);
				width: 100%;
				flex-grow: 1;
				overflow: hidden;
				order: 1;
			}
		}
	}
}

.sidebar {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	.monthName {
		@extend .h2;
		@extend .heb-c;
		font-weight: bold;
		text-align: center;
		margin: 0;
		padding: 0;
		line-height: 1.25;
	}
	.notes {
		background: repeating-linear-gradient(white, white 25px, $gray-400 26px);
		background-position-y: 0;
		flex-grow: 1;
	}
}

section#PageNextYear {
	padding: 0.5cm;
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	gap: 1cm;
	position: relative;
	// display: none;
}

.monkeyface {
	position: fixed;
	right: 0;
	top: 0;
	display: flex;
	gap: 20px;
	padding: 10px;
	z-index: 9999;
	background: yellow;
	font-size: 10px;
	line-height: 1;
}
